.container3 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 37.6px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.svgIcon {
  height: 16px;
  width: 16px;
  position: relative;
}
.buttonGoToPreviousMonth {
  position: absolute;
  top: -14px;
  left: -155.6px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--border);
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs);
  opacity: 0.5;
}
.buttonGoToNextMonth {
  position: absolute;
  top: -14px;
  right: -87.4px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--border);
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs);
  opacity: 0.5;
}
.container4 {
  position: absolute;
  top: calc(50% + 2px);
  left: calc(50% + 33.6px);
  width: 1px;
  height: 1px;
}
.container2 {
  width: 252px;
  position: relative;
  height: 24px;
}
.su {
  position: relative;
  line-height: 19.2px;
}
.cellSunday {
  align-self: stretch;
  width: 36px;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs-9) var(--padding-2xs-2) var(--padding-11xs-1);
  box-sizing: border-box;
}
.cellMonday {
  align-self: stretch;
  width: 36px;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs-9) var(--padding-4xs-8) var(--padding-11xs-1);
  box-sizing: border-box;
  font-size: var(--font-size-smi-5);
}
.cellTuesday {
  align-self: stretch;
  width: 36px;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs-9) var(--padding-2xs-9) var(--padding-11xs-1);
  box-sizing: border-box;
}
.cellWednesday {
  align-self: stretch;
  width: 36px;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs-9) var(--padding-4xs-9) var(--padding-11xs-1);
  box-sizing: border-box;
}
.cellThursday {
  align-self: stretch;
  width: 36px;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs-9) var(--padding-2xs-6) var(--padding-11xs-1);
  box-sizing: border-box;
}
.cellFriday {
  align-self: stretch;
  width: 36px;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs-9) var(--padding-xs-8) var(--padding-11xs-1);
  box-sizing: border-box;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dayContent {
  position: relative;
  line-height: 20px;
}
.gridcell {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-4xs);
  box-sizing: border-box;
  opacity: 0.5;
}
.container5 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--muted-foreground);
}
.gridcell1 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base-3);
  box-sizing: border-box;
}
.container6 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.gridcell2 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-sm-7);
  box-sizing: border-box;
}
.gridcell4 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-sm-6);
  box-sizing: border-box;
}
.gridcell7 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-sm-9);
  box-sizing: border-box;
}
.gridcell8 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-sm-8);
  box-sizing: border-box;
}
.gridcell10 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-2xs-6);
  box-sizing: border-box;
}
.container15 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-sm-9);
}
.gridcell11 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-smi-6);
  box-sizing: border-box;
}
.container16 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-sm-4);
}
.gridcell12 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-2xs);
  box-sizing: border-box;
}
.container17 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-sm-1);
}
.gridcell14 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-2xs-9);
  box-sizing: border-box;
}
.container19 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-sm-3);
}
.gridcell17 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs-2);
  box-sizing: border-box;
}
.container22 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-smi-7);
}
.gridcell18 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs-1);
  box-sizing: border-box;
}
.container23 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-smi);
}
.gridcell20 {
  width: 36px;
  border-radius: var(--br-7xs);
  background-color: var(--primary);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xs-1) var(--padding-5xs)
    var(--padding-4xs);
  box-sizing: border-box;
}
.background {
  width: 36px;
  border-radius: 0px var(--br-7xs) var(--br-7xs) 0px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--primary-foreground);
}
.row3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm-2);
}
.gridcell22 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xs-3);
  box-sizing: border-box;
}
.gridcell23 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xs-5);
  box-sizing: border-box;
}
.gridcell24 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xs-4);
  box-sizing: border-box;
}
.gridcell27 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xs-7);
  box-sizing: border-box;
}
.gridcell30 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-4xs);
  box-sizing: border-box;
}
.gridcell32 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base-3);
  box-sizing: border-box;
  opacity: 0.5;
}
.gridcell33 {
  width: 36px;
  border-radius: var(--br-7xs);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-sm-7);
  box-sizing: border-box;
  opacity: 0.5;
}
.rowgroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px 0px;
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
  color: var(--foreground);
}
.grid {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-smi-8);
  color: var(--muted-foreground);
}
.container1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.calendar {
  border-radius: var(--br-7xs);
  border: 1px solid var(--border);
  box-sizing: border-box;
  height: 308px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--foreground);
  font-family: var(--font-inter);
}
